{%load static%}



<style>
  .sidebar {
    font-family: Arial, sans-serif; 
}
  .sidebar a.nav-link {
    transition: 0.3s;
    opacity: 0.7;
    border-radius: 5px;
    padding: 10px 15px;
  }

  .sidebar a.nav-link:hover {
      opacity: 1;
      transform: scale(1.05);
      background-color: #f5f5f5;
      text-decoration: none;
  }
  .sidebar ul {
    list-style-type: none; 
    padding: 0; 
}

  .saved-reports {
      margin-left: 30px;
      font-size: 1.1em; /* Made it slightly larger */
      font-weight: bold; /* Add boldness to make it stand out */
      display: block;
      margin-top: 20px; /* Add spacing */
  }

  .sub-item {
    margin-left: 20px;
}
</style>


<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div
    class="offcanvas-md offcanvas-end bg-body-tertiary"
    tabindex="-1"
    id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">EconoMe</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        data-bs-target="#sidebarMenu"
        aria-label="Close"
      ></button>
    </div>
    <div
      class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
    >
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center gap-2 active"
            aria-current="page"
            href="#"
          >
            <svg class="bi"><use xlink:href="#house-fill" /></svg>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi"><use xlink:href="#file-earmark" /></svg>
            Expenses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi"><use xlink:href="#cart" /></svg>
            Income
          </a>

          <li class="nav-item">
            <span class="saved-reports">Saved reports</span>
            <a class="link-secondary sub-item" href="#" aria-label="Add a new report">
                </li>
 
        <a class="link-secondary" href="#" aria-label="Add a new report">
    
        </a>
      </h6>
      <ul> 
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'expenses' %}">
            <svg class="bi"><use xlink:href="#file-earmark-text" /></svg>
            Expenses Summary
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi"><use xlink:href="#file-earmark-text" /></svg>
            Income Summary
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi"><use xlink:href="#file-earmark-text" /></svg>
            Social engagement
          </a>
        </li>

        <span class="saved-reports">Settings</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">

            </a>
               
        </li>
        <li class="nav-item sub-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
              <svg class="bi"><use xlink:href="#file-earmark-text" /></svg>
              General Settings

          </a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#file-earmark-text" /></svg>
          Account Settings
        </a>
      </li>
        
      </ul>

        
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav-link d-flex align-items-center gap-2 btn btn-link">
                  <svg class="bi"><use xlink:href="#door-closed" /></svg>
                  Sign out
              </button>
          </form>
      </li>
      </ul>
    </div>
  </div>
</div>
